.about_description {
      display:block;
      color:#ffa64d;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size:40px;
      padding-bottom:5px;
    }
    
    .about_item {
      display:block;
      color:#737373;
      font-size:18px;
    }
    
    body {
      height: 100%;
  margin: 0;
    }
  
    .firstline {
    padding-top:100px; 
    }
    
    .horizontalrule {
      padding-bottom:100px;
    }
    
     #about {
    background-color:white;
    padding-top: 35px;
    padding-left:10px;
    padding-right:10px;
       padding-bottom:20px;
  }
  
  #portfolio {
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top:25px;
  }
  
  #skills {
    background-color:white;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  #contact {
    padding-right: 10px;
    padding-left: 10px;
    padding-top:50px;
  }
  
@media(max-width:480px) {
  #contact {
    background-color:white;
  }
  
  .parallax_effect {
     background: linear-gradient(to right, #0066ff, aquamarine);
    background: -webkit-linear-gradient(left, #0066ff, aquamarine);
    background: -o-linear-gradient(right, #0066ff, aquamarine);
    background: -moz-linear-gradient(right, #0066ff, aquamarine);
  }
  
  .navbarleft {
  background-color:#d9d9d9;
}
  
  #headername:hover {
  background-color:#d9d9d9;
}
  
#headername {
  color:black;
}
  
#navbartop {
  background-color:#e5e6e8;
}
  
  .firstline {
  font-weight: bold;
  font-family: Times, Serif;
  font-size: 50px;
  text-align: center;
  color:black;
}
  
  .firstsubtitle {
  font-size: 22px;
  text-align: center;
  font-family: Arial, Serif;
  font-weight: 500;
  font-style: italic;
  color:black;
}
  
  .horizontalrule {
    width:90%;
  }
  
  .bolditalic {
  font-weight: bold;
  font-style: italic;
}
 
}
  
  .unorderedlist {
  list-style-type: square;
}
  
.a {
  color: black;
  text-decoration: none;
}
  
.a:hover {
  color: black;
  text-decoration: none;
}
  
.a:visited {
  color: black;
  text-decoration: none;
}
  
  body {
  color: black;
}
  
.description {
  font-weight: bold;
  font-style: italic;
  font-family: Times, Serif;
  font-size: 30px;
  color:black;
  text-align: center;
}
.portfoliolink {
  color: blue;
  text-decoration: none;
}
.portfoliolink:visited {
  color: blue;
  text-decoration: none;
}
.portfoliolink:active {
  color: blue;
  text-decoration: none;
}
.portfoliolink:hover {
  color: red;
  text-decoration: none;
}
  
   .img {
   padding-bottom:10px; 
    width:100%;
     padding-top:10px;
  }
    
    #portfolio_heading {
      font-family: 'Fascinate Inline', cursive;
      padding-top:20px;
      font-size:40px;
    }
  
  .fourthline {
  font-family: 'Krona One', sans-serif;
    font-size:50px;
    text-align:center;
    color:black;
    padding-bottom:20px;
    padding-top: 40px;
  }
  
  .skilltitle {
    font-family: Times, Serif;
    font-size:27px;
    color:#ffa64d;
    font-weight:bold;
    text-align:center;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
  }
  
  .skillcontent {
    font-family:Arial, Sans-Serif;
    font-size:13px;
    color:black;
    max-width:800px;
    padding-bottom: 20px;
    text-align:center;
    padding-right:20px;
    padding-left:20px;
  }
  
  .thirdline {
  font-family: Impact, serif;
  font-size: 50px;
  text-align: center;
  font-weight:bold;
  color:black;
  padding-bottom:20px;
}
  
  .contactmeinfo {
  font-family: Times, Serif;
  font-size:15px;
  text-align:center;
  color:black;
}
  
  .button {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  padding: 16px;
  width: 190px;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
  
.buttontwo {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  width: 190px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
  
  .buttonthree {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  padding: 30px;
  width: 190px;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
 
  .button:hover {
  background-color: black;
  color: white
}
  
.buttontwo:hover {
  background-color: black;
  color: white;
}
  
  .buttonthree:hover {
  background-color: black;
  color: white;
}
  
  .portfoliofooter {
  background: background: #c1c1d7;
  background: -webkit-radial-gradient(white, #c1c1d7);
  background: -o-radial-gradient(white, #c1c1d7);
  background: -moz-radial-gradient(white, #c1c1d7);
  background: radial-gradient(white, #c1c1d7);
  text-align: center;
  font-family: Arial, san-serif;
  font-size: 15px;
  color:black;
}
  
  .footeremaillink {
  color: black;
  text-decoration: none;
}
.footeremaillink:hover {
  color: black;
  text-decoration: none;
}
.footeremaillink:visited {
  color: black;
  text-decoration: none;
}
    
@media(min-width:480px) and (max-width:1100px){
 
  #contact {
    background-color:white;
  }
  
  .parallax_effect {
     background: linear-gradient(to right, #0066ff, aquamarine);
    background: -webkit-linear-gradient(left, #0066ff, aquamarine);
    background: -o-linear-gradient(right, #0066ff, aquamarine);
    background: -moz-linear-gradient(right, #0066ff, aquamarine);
  }
  
  .navbarleft {
  background-color:#d9d9d9;
}
  
  #headername:hover {
  background-color:#d9d9d9;
}
  
#headername {
  color:black;
}
  
#navbartop {
  background-color:#e5e6e8;
}
  
  .firstline {
  font-weight: bold;
  font-family: Times, Serif;
  font-size: 60px;
  text-align: center;
  color:black;
}
  
  .firstsubtitle {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Serif;
  font-weight: 500;
  font-style: italic;
  color:black;
}
  
  .horizontalrule {
    width:90%;
  }
  
  .bolditalic {
  font-weight: bold;
  font-style: italic;
}
  
.a {
  color: black;
  text-decoration: none;
}
  
.a:hover {
  color: black;
  text-decoration: none;
}
  
.a:visited {
  color: black;
  text-decoration: none;
}
  
  body {
  color: black;
}
  
.description {
  font-weight: bold;
  font-style: italic;
  font-family: Times, Serif;
  font-size: 30px;
  color:black;
  text-align: center;
}
 
.portfoliolink {
  color: blue;
  text-decoration: none;
}
.portfoliolink:visited {
  color: blue;
  text-decoration: none;
}
.portfoliolink:active {
  color: blue;
  text-decoration: none;
}
.portfoliolink:hover {
  color: red;
  text-decoration: none;
}
  
   .img {
   padding-bottom:10px; 
    width:70%;
     padding-top:10px;
  }
  
  #portfolio_heading {
      font-family: 'Fascinate Inline', cursive;
      padding-top:20px;
      font-size:45px;
    }
  
  .fourthline {
  font-family: 'Krona One', sans-serif;
    font-size:60px;
    text-align:center;
    color:black;
    padding-bottom:20px;
    padding-top: 40px;
  }
  
  .skilltitle {
    font-family: Times, Serif;
    font-size:30px;
    color:#ffa64d;
    font-weight:bold;
    text-align:center;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
  }
  
  .skillcontent {
    font-family:Arial, Sans-Serif;
    font-size:15px;
    color:black;
    max-width:800px;
    padding-bottom: 20px;
    text-align:center;
    padding-right:20px;
    padding-left:20px;
  }
  
  .thirdline {
  font-family: Impact, serif;
  font-size: 60px;
  text-align: center;
  font-weight:bold;
  color:black;
  padding-bottom:20px;
}
  
  .contactmeinfo {
  font-family: Times, Serif;
  font-size:18px;
  text-align:center;
  color:black;
}
  
  .button {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  padding: 16px;
  width: 230px;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
  
.buttontwo {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  width: 230px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
  
  .buttonthree {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  padding: 30px;
  width: 230px;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
 
  .button:hover {
  background-color: black;
  color: white;
  width:255px;
}
  
.buttontwo:hover {
  background-color: black;
  color: white;
  width:255px;
}
  
  .buttonthree:hover {
  background-color: black;
  color: white;
  width:255px;
}
  
  .portfoliofooter {
  background: background: #c1c1d7;
  background: -webkit-radial-gradient(white, #c1c1d7);
  background: -o-radial-gradient(white, #c1c1d7);
  background: -moz-radial-gradient(white, #c1c1d7);
  background: radial-gradient(white, #c1c1d7);
  text-align: center;
  font-family: Arial, san-serif;
  font-size: 15px;
  color:black;
}
  
  .footeremaillink {
  color: black;
  text-decoration: none;
}
.footeremaillink:hover {
  color: black;
  text-decoration: none;
}
.footeremaillink:visited {
  color: black;
  text-decoration: none;
}
  
}
@media(min-width:1100px) {
 
.firstline {
  font-weight: bold;
  font-family: Times, Serif;
  font-size: 70px;
  text-align: center;
  color:black;
}
  
.firstsubtitle {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Serif;
  font-weight: 500;
  font-style: italic;
  color:black;
}
  
.horizontalrule {
  width: 80%;
}
  
.bolditalic {
  font-weight: bold;
  font-style: italic;
}
  
.unorderedlist {
  list-style-type: square;
}
  
.a {
  color: black;
  text-decoration: none;
}
  
.a:hover {
  color: black;
  text-decoration: none;
}
  
.a:visited {
  color: black;
  text-decoration: none;
}
body {
  color: black;
}
  
.description {
  font-weight: bold;
  font-style: italic;
  font-family: Times, Serif;
  font-size: 30px;
  text-align: center;
}
  
.portfoliolink {
  color: blue;
  text-decoration: none;
}
  
.portfoliolink:visited {
  color: blue;
  text-decoration: none;
}
  
.portfoliolink:active {
  color: blue;
  text-decoration: none;
}
  
.portfoliolink:hover {
  color: red;
  text-decoration: none;
} 
    .fourthline {
  font-family: 'Krona One', sans-serif;
    font-size:70px;
    text-align:center;
    color:black;
    padding-bottom:20px;
    padding-top: 60px;
  }
  
.thirdline {
  font-family: Impact, serif;
  font-size: 70px;
  text-align: center;
  font-weight:bold;
  color:black;
  padding-bottom:20px;
}
.button {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  padding: 16px;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
  
.buttontwo {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
  
  .buttonthree {
  text-align: center;
  background-color: #d1d1e0;
  color: black;
  padding: 30px;
  width: 300px;;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
  
.button:hover {
  width: 350px;
  background-color: black;
  color: white
}
  
.buttontwo:hover {
  width: 350px;
  background-color: black;
  color: white;
}
  
  .buttonthree:hover {
  width: 350px;
  background-color: black;
  color: white;
}
  
.navbarpage {
  background-color: #efeff5;
  border-bottom: 2px solid red;
  color: black;
  text-decoration: none;
}
  
.footeremaillink {
  color: black;
  text-decoration: none;
}
  
.footeremaillink:hover {
  color: black;
  text-decoration: none;
}
  
.footeremaillink:visited {
  color: black;
  text-decoration: none;
}
  
.navbarone:focus {
  outline: none;
}
  
.navbartwo:focus {
  outline: none;
}
  
.button:focus {
  outline: none;
}
  
.buttontwo:focus {
  outline: none;
}
  
.buttonthree:focus {
  outline: none;
}
  
 #headername:hover {
  background-color:#d9d9d9;
}
  
#headername {
  color:black;
}
  
#navbartop {
  background-color:#e5e6e8;
}
  
.contactmeinfo {
  font-family: Times, Serif;
  font-size:20px;
  text-align:center;
  color:black;
}
  
.navbarleft {
  background-color:#d9d9d9;
}
  
  footer {
    padding-right:10px;
  }
  
  .img {
   padding-bottom:10px; 
    width:60%;
    padding-bottom:10px;
  }
  
  #portfolio_heading {
      font-family: 'Fascinate Inline', cursive;
      padding-top:20px;
      font-size:40px;
    }
    
  .skilltitle {
    font-family: Times, sans-serif;
    font-size:30px;
    color:#ffa64d;
    font-weight:bold;
    text-align:center;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
  }
  
  .skillcontent {
    font-family:Arial, Sans-Serif;
    font-size:15px;
    color:black;
    max-width:800px;
    padding-bottom: 20px;
    text-align:center;
    padding-right:20px;
    padding-left:20px;
  }
  
  .paddingbottomline {
    padding-bottom:40px;
  }
  
  .bottomfooter {
    font-family:Courier, Sans-Serif;
    font-size:10x;
    color:black;
  }
  
  .parallax_effect {
    background-image:url('http://www.mountainpassions.com/winter/wp-content/uploads/2014/08/Wide-view-of-ski-area-above-Flaine-Grand-Massif-French-Alps-13975.jpg');
    width:100%;
     min-height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
}
    
    img {
  transition:.5s;
  -webkit-transition:.5s;
}
    
img:hover{
  opacity:.7;
    }
